* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    text-align: center;
    background-color: #252525;
    color: white;
    padding: 0.5em;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: white;
    color: black;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

#calendar {
    margin: auto;
    color: white;
    font-size: 50px;
    border: 5px solid red;
    width: 100%;
}
span {
    cursor: pointer;
}
#calendar-table {
    border-spacing: 0;
    width: 100%;
}

td {
    text-align: center;
    padding: 5px;
    border: 2px solid white;
}

td:hover {
    color: rgb(0, 132, 247);
    cursor: pointer;
}

td:active {
    color: #5400f1;
}

tr:nth-child(even) {
    background-color: #555555;
}

tr:nth-child(odd) {
    background-color: #0f0f0f;
}

.current-day {
    color: aquamarine;
}

footer {
    background-color: #252525;
    flex: 1;
    text-align: center;
    justify-content: center;
    padding: 2em;
    color: white;
    font-size: 50px;
}